.input-helper-msg {
    font-size: 13px;
    margin-left: 4px;
    margin-top: 2px;
}

.input-text {
    height: 150px !important;
}

.input-modal-label {
    color: rgb(183, 183, 183) !important;
    font-family: "AppleSDGothicRegular" !important;
    font-size: 20px !important;
}
