.main-header {
    height: 60px;
    padding: 12px 16px;
    border-bottom: 1px solid #73737360;
    position: sticky;
    top: 0;
    background: #000;
    z-index: 5;
}

.main-logo {
    height: 100%;
}

.main-body {
    padding-bottom: 25px;
}
