/** 모달 전역 **/
.ReactModal__Body--open {
    overflow: hidden;
}
.ReactModal__Overlay {
    background: rgba(0, 0, 0, 0.56) !important;
    z-index: 10;
}

.ReactModal__Content {
    border: none;
    background: rgb(23, 23, 23) !important;
}

.modal-comment-header {
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-bottom: 1px solid #73737340;
    position: sticky;
    top: 0;
    background: rgb(23, 23, 23) !important;
}
.modal-comment-header p {
    flex: 1;
    text-align: center;
    padding-left: 24px;
}

.modal-comment-body {
    padding: 16px;
    padding-bottom: 0px;
}
.modal-comment-item {
    display: flex;
    gap: 12px;
    align-items: start;
    margin-bottom: 16px;
}

.modal-comment-item img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.modal-comment-username {
    font-size: 14px;
    font-family: "AppleSDGothicSemiBold" !important;
}

.modal-comment-text {
    max-width: 565px;
}

/* profile modal */
.modal-profile-header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 14px 20px 14px 0;
    border-bottom: 1px solid #73737340;
    position: sticky;
    top: 0;
    background: rgb(23, 23, 23) !important;
}

.modal-profile-title {
    font-family: "AppleSDGothicSemiBold" !important;
    flex: 1;
    padding-left: 24px;
}
.modal-profile-header-save {
    margin-left: auto;
    cursor: pointer;
}

.modal-profile-body {
    /* padding-top: 30px; */
}

.modal-profile-label {
    color: rgb(183, 183, 183) !important;
    font-family: "AppleSDGothicRegular" !important;
    font-size: 20px !important;
}

.modal-profile-item {
    padding: 20px 20px 10px 35px;
    margin-top: 10px;
    /* display: flex; */
}
.modal-profile-text {
    font-size: 18px;
}
.modal-profile-form-item {
    padding: 20px 30px 20px 35px;
}

.modal-profile-hr {
    height: 1px;
    background-color: rgb(89, 89, 89);
    width: 80%;
    margin: 10px auto 0;
}
