/** 모달 전역 **/
.ReactModal__Body--open {
    overflow: hidden;
}
.ReactModal__Overlay {
    background: rgba(0, 0, 0, 0.56) !important;
    z-index: 10;
}

.ReactModal__Content {
    border: none;
    background: rgb(23, 23, 23) !important;
}

.modal-comment-header {
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-bottom: 1px solid #73737340;
    position: sticky;
    top: 0;
    background: rgb(23, 23, 23) !important;
}
.modal-comment-header p {
    flex: 1;
    text-align: center;
    padding-left: 24px;
}

.modal-comment-body {
    padding: 16px;
    padding-bottom: 0px;
}
.modal-comment-item {
    display: flex;
    gap: 12px;
    align-items: start;
    margin-bottom: 16px;
}

.modal-comment-item img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.modal-comment-username {
    font-size: 14px;
    font-family: "AppleSDGothicSemiBold" !important;
}

.modal-comment-text {
    max-width: 565px;
}

/* profile modal */

.modal-profile-header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 14px 20px 14px 0;
    border-bottom: 1px solid #73737340;
    position: sticky;
    top: 0;
    background: rgb(23, 23, 23) !important;
}

.modal-profile-title {
    font-family: "AppleSDGothicSemiBold" !important;
    flex: 1;
    padding-left: 24px;
}

.modal-profile-header-save {
    margin-left: auto;
    cursor: pointer;
}
.modal-profile-header-save.disabled {
    opacity: 0.5;
}

.modal-profile-body {
    /* padding-top: 30px; */
}

.modal-profile-label {
    color: rgb(183, 183, 183) !important;
    font-family: "AppleSDGothicRegular" !important;
    font-size: 20px !important;
}

.modal-profile-item {
    padding: 10px 20px 10px 35px;
    margin-top: 10px;
    /* display: flex; */
}
.modal-profile-text {
    font-size: 18px;
}
.modal-profile-form-item {
    padding: 20px 30px 20px 35px;
}

.modal-profile-hr {
    height: 1px;
    background-color: rgb(89, 89, 89);
    width: 80%;
    margin: 10px auto 0;
}

/* create post modal */
.modal-post {
    position: relative;
    height: 100%;
}

.modal-post-header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: black;
    height: 42px;
    border-bottom: 1px solid #73737340;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-post-header .icon {
    position: absolute;
    left: 16px;
}
.modal-post-header .next {
    position: absolute;
    right: 16px;
    color: var(--color-primary-blue);
    cursor: pointer;
}

.modal-post-step1 {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.modal-post-photos-icon svg {
    width: 70px;
}

.modal-post-photos-icon .left {
    rotate: -20deg;
}

.modal-post-photos-icon .right {
    margin-left: -16px;
}

.modal-post-add-photos {
    padding: 5px 18px;
    border-radius: 8px;
    background-color: var(--color-primary-blue);
}

.modal-post-add-photos input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.modal-post-add-photos label {
    font-family: "AppleSDGothicSemiBold" !important;
    cursor: pointer;
}

/* step3 */
.modal-post-step3-profile {
    padding: 12px 20px 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.modal-post-step3-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: fill;
}

.modal-post-step3-profile p {
    font-family: "AppleSDGothicSemiBold" !important;
}

.modal-post-step3-body {
    height: 365px;
    overflow: scroll;
}

.modal-post-step3-cnt {
    font-size: 14px;
    margin-left: auto;
    padding-right: 10px;
    color: var(--color-primary-gray);
    width: 88px;
    padding-top: 8px;
}

/* change profile img modal */
.modal-profile-img {
    background: rgb(38, 38, 38) !important;
}
.modal-profile-img p {
    text-align: center;
    padding: 13px;
    font-family: "AppleSDGothicSemiBold" !important;
    font-size: 15px;
}

.modal-profile-img-title {
    font-size: 20px !important;
    font-family: "AppleSDGothicSemiBold" !important;
    color: #f5f5f5;
    border-bottom: 1px solid #73737340;
    padding: 24px 0 !important;
}
.modal-post-img-upload {
    text-align: center;
    border-bottom: 1px solid #73737340;
    padding: 13px;
}
.modal-post-img-upload label {
    color: var(--color-primary-blue);
    font-family: "AppleSDGothicSemiBold" !important;
    font-size: 15px;
    cursor: pointer;
}
.modal-post-img-upload input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.modal-profile-img-remove {
    color: #ed4956;
    border-bottom: 1px solid #73737340;
    cursor: pointer;
}
.modal-profile-img-cancel {
    cursor: pointer;
}

/* like modal */
.modal-likes {
    background: rgb(38, 38, 38) !important;
}
.modal-likes-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border-bottom: 1px solid #73737340;
    background: rgb(38, 38, 38) !important;
    position: sticky;
    top: 0;
}
.modal-likes-header p {
    flex: 1;
    text-align: center;
    font-family: "AppleSDGothicSemiBold" !important;
    padding-left: 24px;
}

.modal-likes-user {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.modal-likes-user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.modal-likes-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.modal-likes-follow {
    margin-left: auto;
    padding: 7px 20px;
    background-color: #555555b3;
    border-radius: 8px;
    cursor: pointer;
}
.modal-likes-follow.follow {
    background-color: var(--color-primary-blue);
}

.modal-likes-follow p {
    font-size: 14px;
    font-family: "AppleSDGothicSemiBold" !important;
}
