.useritem {
    display: flex;
    align-items: center;
    padding: 10px 40px;
}

.useritem-img {
    width: 60px;
    height: 66px;
    border-radius: 50%;
}

.useritem-btn {
    margin: 12px 0 10px 0;
    cursor: pointer;
    background-color: #737373;
    width: 120px;
    text-align: center;
    padding: 6px;
    border-radius: 8px;
    font-weight: 800;
    margin-left: auto;
}

.useritem-btn.follow {
    background-color: var(--color-primary-blue);
}

.useritem-username {
    margin-left: 20px;
}

.useritem-btn:hover {
    background-color: #424242;
}

.user-profile-img {
    object-fit: contain;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
