.btn-default {
    border-radius: 5px;
    background-color: #0064e0;
    padding: 8px 0;
    width: 100%;
    position: relative;
}

.btn-default:disabled {
    opacity: 0.6;
}

.btn-default p {
    color: #fff;
    font-size: 16px;
}
