.btn-default {
    border-radius: 5px;
    background-color: #0064e0;
    padding: 8px 0;
    width: 100%;
    position: relative;
}
.btn-default:disabled {
    opacity: 0.6;
}
.btn-default p {
    color: #fff;
    font-size: 16px;
}
.btn-default .eng {
    font-size: 0.56rem !important;
}

.btn-default.btn-small {
    width: 50%;
}

.btn-default.secondary {
    border: 1px solid var(--color-gray-20);
    background: rgba(238, 238, 238, 0.16);
}

.btn-default.secondary p {
    color: var(--color-primary-gray);
}
.btn-default.secondary:disabled {
    border: 1px solid var(--color-black-10, #1a1a1a);
    background: var(--color-black-10, #1a1a1a);
}
.btn-default.secondary:disabled p {
    color: var(--color-gray-30, #404040);
}

.btn-default.black {
    background-color: rgb(0, 0, 0, 0);
}

.btn-default.black p {
    color: var(--color-primary-gray);
}

.btn-new-icon {
    position: absolute;
    right: 0.37rem;
    top: 0.3rem;
}

/* Icon Button */
.btn-icon {
    display: flex;
    padding: 0.5em;
    padding-right: 0.25rem;
    width: 100%;
    border-radius: 2px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background: #fff;
}

.btn-icon svg {
    width: 18px;
    height: 18px;
}

.btn-icon > p {
    font-family: "Roboto", sans-serif;
}

.btn-icon.facebook {
    background: #1877f2;
}

.btn-icon.kakao {
    background: #fee500;
}

.btn-icon p {
    color: var(--color-primary-das-black, #000);
    flex: 0.95;
    font-size: 0.5rem;
}

.btn-icon.facebook p {
    color: #fff;
}

/* Select Button */
.btn-select {
    display: flex;
    padding: 0.43rem 0.25rem 0.43rem 0.37rem;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-gray-30);
    justify-content: flex-start;
    align-items: center;
}

.btn-select p {
    /* color: var(--color-gray-10); */
    color: var(--color-primary-gray);
}

.btn-select svg {
    margin-right: 0.2rem;
}

.btn-select-text {
    flex: 1;
    text-align: left;
    display: flex;
    gap: 0.2rem;
}
.btn-select-text p {
    font-size: 0.5rem !important;
}

.btn-select:active,
.btn-select.active {
    border: 1px solid var(--color-primary-point);
}

.btn-select:active p,
.btn-select.active p {
    color: var(--color-primary-gray);
}
