.intro {
    margin-top: 30px;
    display: flex;
}

.intro-img-wrapper {
    position: relative;
}
.intro-source-img {
    position: absolute;
    right: 60px;
    top: 25px;
}

.intro-login-wrapper {
    width: 350px;
}

.intro-signup-wrapper {
    padding: 25px 0 !important;
    margin-top: 20px !important;
}

.intro-logo {
    width: 250px;
    object-fit: contain;
    margin: 24px 0 12px 0;
}
.intro-subtitle {
    font-family: "AppleSDGothicBold";
    font-size: 16px;
    color: #737373;
    text-align: center;
    margin-bottom: 40px;
}

.intro-input-wrapper {
    width: 350px;
}

.intro-psw {
    text-align: right;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 70px;
    cursor: pointer;
}

.intro-register p {
    font-size: 14px;
    color: #000;
}

.intro-register span {
    color: #0095f6;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
}
.intro-error-login {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-top: -30px;
}
