.reset-wrapper {
    width: 380px;
}

.reset-lock-icon img {
    width: 50px;
    object-fit: contain;
    margin-left: -1px;
    margin-top: -2px;
}

.reset-lock-icon {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid var(--color-primary-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.reset-title {
    margin-top: 12px;
    margin-bottom: 8px;
    color: var(--color-primary-black);
    font-size: 18px;
}

.reset-subtitle {
    text-align: center;
    color: var(--color-primary-gray);
    font-size: 14px;
}

.reset-btn.margin {
    margin-top: 50px;
}

.reset-errmsg {
    margin-top: 35px;
}
